@using Microsoft.AspNetCore.Identity
@using TrainingDiary.Enums;
@using TrainingDiary.Services;
@inject SignInManager<User> SignInManager
@inject IUserService UserService



    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            User user = await UserService.GetUser(User);
            string userName = $"{user.FirstName} {user.LastName}";

            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <i class="far fa-user-circle"></i>
                    Hello <b>@userName</b>!
                </a>
            </li>
            if (User.IsInRole(Role.Coach))
            {
                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="CoachDashboard" asp-action="Index">
                        <i class="fas fa-running"></i>
                        My players
                    </a>
                </li>
            }
            else if (User.IsInRole(Role.Player))
            {
                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="PlayerDashboard" asp-action="MyCoachDetails">
                        <i class="fas fa-running"></i>
                        My coach
                    </a>
                </li>
            }

            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">
                    <i class="fas fa-calendar-alt"></i>
                    Events
                </a>
            </li>

            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="Index">
                    <i class="far fa-envelope"></i>
                    Mailbox
                </a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </button>
                </form>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
                    <i class="fas fa-user-plus"></i>
                    Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
        }
    </ul>
