@model TrainingDiary.Models.Start
@using TrainingDiary.Enums


<h4>Start</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole(Role.Coach))
            {
                <partial name="_BaseEventEditPartial" />
            }
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            @{
                if (User.IsInRole(Role.Coach))
                {
                    <div class="form-group">
                        <label asp-for="CoachComment" class="control-label"></label>
                        <input asp-for="CoachComment" class="form-control" />
                        <span asp-validation-for="CoachComment" class="text-danger"></span>
                    </div>
                }
                else if (User.IsInRole(Role.Player))
                {
                    <div class="form-group">
                        <label asp-for="PlayerComment" class="control-label"></label>
                        <input asp-for="PlayerComment" class="form-control" />
                        <span asp-validation-for="PlayerComment" class="text-danger"></span>
                    </div>
                }
            }
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}