<h4>
    You don't have a coach.
</h4>
<hr />
<p>
    We will help you to connect with your trainer by requiring you to enter his email address.
    <br />
    If you want to find him, go on.
</p>
<a class="btn btn-secondary" asp-controller="Message" asp-action="CreateRequest">Find coach</a>