<h4>
    Your request is waiting for confirmation.
</h4>
<hr />
<p>
    You sent request to: <b>@ViewData["Coach"]</b>. <br />
    Press the button if you want see more details in mailbox. 
</p>
<br />
<div>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Message">Go to mailbox</a>
</div>